body, html {
    height: 100%;
    margin: 0;
}

.bgOne {
    background-image: url('img/coolbase.png');
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 0px;
    font-size: 128px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-decoration: underline overline;
    text-underline-offset: 56px;
    padding-top: 300px;
}

.ip {
    text-align: center;
    font-size: 24px;
    font-family: 'Lucida Console';
    color: #fff;
    margin-top: -50px;
}

.discord {
    margin: default;
}

.boxbutton {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinbutton {
    color: white;
    background-color: #7289da;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 1.2px;
    border: none;
    cursor: pointer;
    padding: 8px 20px;
}

.discordwidget {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.bgTemporal {
    background-color: white;
    height: 300px;
    text-align: center;
}